@model IList<AssetTypeAttributeViewModel>
<!--It needs IEnumerable to serilize -->

@if (Model != null && Model.Count > 0)
{
    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="form-group">
            @if (Model[i].AttributeDataType == "boolean")
            {
                @:<label name="@Model[i].InvAttributeName" class="control-label">@Model[i].InvAttributeName</label>
                if (Model[i].InvAttributeValue == "true")
                {
                    @:<input type="checkbox" name="@Model[i].InvAttributeId" style="width:auto;margin-left:10px" checked="checked" />
                }
                else
                {
                    @:<input type="checkbox" name="@Model[i].InvAttributeId" style="width:auto;margin-left:10px" />
                }
            }
            else if (Model[i].AttributeDataType == "int")
            {
                @:<label name="@Model[i].InvAttributeName" class="control-label">@Model[i].InvAttributeName : @Model[i].UnitOfMeasurement</label>
                @:<input name="@Model[i].InvAttributeId" class="form-control" value="@Model[i].InvAttributeValue" type="number" onkeyup="isNumberKey(this);" />
            }
            else if (Model[i].AttributeDataType == "Date")
            {
                @:<label class="control-label" name="@Model[i].InvAttributeName">@Model[i].InvAttributeName</label>
                @(Html.Kendo().DatePicker()
                      .Name("" + Model[i].InvAttributeId)
                      .Value(Model[i].InvAttributeValue)
                      .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                    )
            }
            else if (Model[i].AttributeDataType == "ControlData")
            {
                @:<label class="control-label" name="@Model[i].InvAttributeName">@Model[i].InvAttributeName</label>
                @(Html.Kendo().DropDownList()
                        .Name(""+Model[i].InvAttributeId)
                        .DataValueField("AttributeControlDataId")
                        .DataTextField("ControlDataValue")
                        .BindTo(Model[i].ControlDataList)
                        .Value(Model[i].InvAttributeValue)
                        .HtmlAttributes(new { style = "width: 100%" })
                     )
            }
            else
            {
                @:<label name="@Model[i].InvAttributeName" class="control-label">@Model[i].InvAttributeName </label>
                @:<input name="@Model[i].InvAttributeId" class="form-control" value="@Model[i].InvAttributeValue" />
            }
        </div>
        }
    </div>
}




