@model IList<AssetTypeAttributeViewModel>
<!--It needs IEnumerable to serilize -->

@if (Model != null && Model.Count > 0)
{
    <dl class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            <dt class="col-sm-6">
                <label class="control-label" name="@Model[i].InvAttributeName">@Model[i].InvAttributeName</label>
            </dt>
            <dd class="col-sm-6">
                @if (Model[i].AttributeDataType == "int")
                {
                    @:<label class="control-label" name="@Model[i].InvAttributeId">@Model[i].InvAttributeValue  @Model[i].UnitOfMeasurement</label>

                }
                else if (Model[i].AttributeDataType == "ControlData")
                {
                    string ctrlVal = "";
                    if (Model[i].InvAttributeValue != null)
                    {
                        var ctrlItem = Model[i].ControlDataList.Where(d => "" + d.AttributeControlDataId == Model[i].InvAttributeValue).ToList<InvAttributeControlData>().FirstOrDefault();
                        ctrlVal = ctrlItem.ControlDataValue;
                    }

                    @:<label class="control-label" name="@Model[i].InvAttributeId">@ctrlVal </label>                
                }                
                else
                {
                    @:<label class="control-label" name="@Model[i].InvAttributeId">@Model[i].InvAttributeValue</label>
                }
            </dd>
        }
    </dl>
}



