@model AssetViewModel

@{
    ViewData["Title"] = "Details";
}

<Legend>Asset Details</Legend>
<br/>
<hr />
<div class="row">            
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AssetType)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AssetTypeName)
                @*<select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>*@
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AssetName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AssetName)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AssetDescription)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AssetDescription)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuantityOnHand)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.QuantityOnHand)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("_AssetTypeAttributesDetails", Model.AssetTypeAttributeList)
    </div>    
</div>
<div class="form-group row">
    <a asp-action="Edit" asp-route-assetId="@Model.AssetId">Update Asset</a> |
    <a asp-action="Delete" asp-route-assetId="@Model.AssetId">Delete Asset</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*<div class="form-group row">
    
</div>*@

    @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerUnitCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerUnitCost)
        </dd>
    *@
    @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderTimeInDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReorderTimeInDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReorderQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discountinued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discountinued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>*@
